/* General Styles */
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 80px
}
h2 {
  color: #fff;
  font-size: 60px;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #fff;
}
a {
  color: #FFF;
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  color: #33D5C6;
  text-decoration: none;
}
a:active {
  color: #33D5C6;
  text-decoration: none;
}
strong {
  color: #000;
}

/* Project Square Styles */

.sq-1 {
  background-color: #33D5C6;
  padding-bottom: 10%;
  padding-top: 10%;
}
.sq-1 img {
  width: 50%;
}
.sq-2 {
  background-color: #DD3B71;
  padding-top: 15%;
  padding-bottom: 10%;
}
.sq-2 h1:hover .desc {
  display: block;
}
.sq-3 {
  background-color: #F48E2E;
  padding-top: 15%;
  padding-bottom: 10%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.sq-3 ul {
  list-style-type: none;
  padding: 0;
}
.sq-4 {
  background-color: #995EF0;
  padding-top: 15%;
  padding-bottom: 10%;
  margin: 0;
  text-align: center;
}
.sq-4 ol li{
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #fff;
}
.sq-4 ol {
  padding: 0;
}

/* footer Styles */

.footer {
  background-color: #641E16
}
.footer p{
  font-size: 15px;
}
.footer #name {
  margin: 25px;
  float: left;
}
.footer #email {
  margin: 25px;
  float: right;
}
/* Span Hover Styles */

.desc {
  display: none;
  font-size: 12px;
  line-height: 20px;
  margin-top: 10px;
  padding: 5px;
}
.sq-3 li:hover .desc {
  display: block;
}

/* Flex Style for Equal Column Height */

.row-eq-height {
  display: flex;
}

.vertical-center {
  display: flex;
  align-items: center;
}

/* Stack Squares on Small Screen*/

@media screen and (max-width: 991px) {
    .row-eq-height {
        display: block;
    }
    .desc {
      display: block;
    }
}

/* Center footer , Display Descriptions on Mobile */

@media screen and (max-width: 480px) {
    .footer {
      text-align: center;
    }
    .footer #name {
        float: none;
    }
    .footer #email {
        float: none;
    }
    .desc {
      display: block;
    }
}
